.navbar-brand{
  a{
    font-weight: bold;
   // color:$;
    font-size:20px;

  }
}

/* ========================================
   =========== Text Override ==========
   ======================================== */
.is-muted{
  color:$grey-light !important;
}
a.is-muted:hover{
  color:$grey !important;
}


